<!DOCTYPE html>
    <html>
        <style>
            .table1{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table2{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table3{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table4{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table5{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table6{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table7{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
    
        </style>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Leafletstylesheet --> 
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" 
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="">

        <!-- Leaflet JavaScript library --> 
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        <script src="{{statics_folder}}/src/leaflet.ajax.min.js"></script>

        <script src="{{statics_folder}}/data/europe.js"></script>
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

        <style>
            #map{
                height: 100vh;
                width: 100%;
            }
    
            .info {     
                padding: 6px 8px;
                font: 14px/16px Arial, Helvetica, sans-serif;
                background: white;
                background: rgba(255,255,255,0.8);
                box-shadow: 0 0 15px rgba(0,0,0,0.2);
                border-radius: 5px;
            }
        </style>  

        <title>Population Density</title>

    </head>
    

    <body> 
        <h1><center>Population Density maps of Countries in European Union</center></h1>
        <div id="whole page">
            <div id="leftSide" style="float:left; width:28%;">
                <h3>Select the country by National flag</h3>
                <table class="table1">
                    <tbody>
                        <tr>
                            <th>Austria</th>
                            <th>Belgium</th>
                            <th>Bulgaria</th>
                            <th>Croatia</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(1);"><img src="static/images/Austria.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(2);"><img src="static/images/Belgium.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(3);"><img src="static/images/Bulgaria.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(4);"><img src="static/images/Croatia.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody>
                    <tr>           </tr>
                </table>
                <table class="table2">
                    <tbody> 
                        <tr>
                            <th>Cyprus</th>
                            <th>Czech Republic</th>
                            <th>Denmark</th>
                            <th>Estonia</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(5);"><img src="static/images/Cyprus.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(6);"><img src="static/images/Czech_Republic.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(7);"><img src="static/images/Denmark.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(8);"><img src="static/images/Estonia.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody> 
                </table>
                <table class="table3">
                    <tbody>
                        <tr>
                            <th>Finland</th>
                            <th>France</th>
                            <th>Germany</th>
                            <th>Greece</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(9);"><img src="static/images/Finland.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(10);"><img src="static/images/France.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(11);"><img src="static/images/Germany.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(12);"><img src="static/images/Greece.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table4">
                        <tr>
                            <th>Hungary</th>
                            <th>Ireland</th>
                            <th>Italy</th>
                            <th>Latvia</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(13);"><img src="static/images/Hungary.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(14);"><img src="static/images/Ireland.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(15);"><img src="static/images/Italy.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(16);"><img src="static/images/Latvia.jpg" width="90" height="60"></a></td>
                        </tr>
                </table>
                <table class="table5">
                    <tbody>   
                        <tr>
                            <th>Lithuania</th>
                            <th>Luxembourg</th>
                            <th>Malta</th>
                            <th>Netherlands</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(17);"><img src="static/images/Lithuania.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(18);"><img src="static/images/Luxembourg.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(19);"><img src="static/images/Malta.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(20);"><img src="static/images/Netherlands.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table6">
                    <tbody>   
                        <tr>
                            <th>Poland</th>
                            <th>Portugal</th>
                            <th>Romania</th>
                            <th>Slovakia</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(21);"><img src="static/images/Poland.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(22);"><img src="static/images/Portugal.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(23);"><img src="static/images/Romania.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(24);"><img src="static/images/Slovakia.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table7">
                    <tbody>    
                        <tr>
                            <th>Slovenia</th>
                            <th>Spain</th>
                            <th>Sweden</th>
                            <th>European Union</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(25);"><img src="static/images/Slovenia.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(26);"><img src="static/images/Spain.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(27);"><img src="static/images/Sweden.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(28);"><img src="static/images/EU.jpg" width="90" height="60"></a></td>
                        </tr> 
                    </tbody>   
                </table> 
            </div>

            <div id="rightSide" style="float:right; width:72%;">
            <h3>Select the country from the map</h3> 

            <!-- Map element --> 
            <div id="map" style="width: 1050px; height: 550px;"></div>

                <script type="text/javascript">

                    //create the leaflet.js map, centered in Europe
                    var map = L.map('map').setView([49.32, 14.88], 3);
                    osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap contributors'
                    }).addTo(map);

                    // Satelite Layer
                    googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
                    maxZoom: 20,
                    subdomains:['mt0','mt1','mt2','mt3']
                    });
                    googleSat.addTo(map);
                    

                    //add geojson 
                    europedataa= L.geoJSON(europedataa).addTo(map);


                    var baseLayers = {
                        "Satellite":googleSat,
                        "OpenStreetMap": osm,
                    };

                    var overlays = {
                        "Countries": europedataa
                    };

                    L.control.layers(baseLayers, overlays).addTo(map);
                    
                    //add search button
                    L.Control.geocoder().addTo(map);

                      //var marker = L.marker([50.84673, 4.35247]).addTo(map);
                    //var popup = marker.bindPopup('<b>Hello world!</b><br />I am a popup.');
                    //popup.openPopup();


                    function changeText(value) {
                        var country_name = document.getElementById("country_name");
                        var text = "";

                        if (value == 1) text += "Austria";
                        if (value == 2) text += "Belgium";
                        if (value == 3) text += "Bulgaria";
                        if (value == 4) text += "Croatia";             
                        if (value == 5) text += "Cyprus";
                        if (value == 6) text += "Czech Republic";
                        if (value == 7) text += "Denmark";
                        if (value == 8) text += "Estonia";
                        if (value == 9) text += "Finland";
                        if (value == 10) text += "France";
                        if (value == 11) text += "Germany";
                        if (value == 12) text += "Greece";
                        if (value == 13) text += "Hungary";
                        if (value == 14) text += "Ireland";
                        if (value == 15) text += "Italy";
                        if (value == 16) text += "Latvia";
                        if (value == 17) text += "Lithuania";
                        if (value == 18) text += "Luxembourg";
                        if (value == 19) text += "Malta";
                        if (value == 20) text += "Netherlands";
                        if (value == 21) text += "Poland";
                        if (value == 22) text += "Portugal";
                        if (value == 23) text += "Romania";
                        if (value == 24) text += "Slovakia";
                        if (value == 25) text += "Slovenia";
                        if (value == 26) text += "Spain";
                        if (value == 27) text += "Sweden";

                        country_name.innerHTML = text;
                     }
               
                </script>

                <div id = form>
                    <form action="{{ url_for("gfg")}}" method="post">
                        <label for="country">Country:</label>
                        <input type="text" id="country" name="country" placeholder="country">
                        <button type="submit">Submit</button>
                    </form>
                </div>



           </div>
            
        </div>
    </body>

</html>