<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Leafletstylesheet --> 
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" 
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="">

        <!-- Leaflet JavaScript library --> 
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        <script src="{{statics_folder}}/src/leaflet.ajax.min.js"></script>

        <script src="{{statics_folder}}/data/europe.js"></script>
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


        <style>
            .table1{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table2{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table3{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table4{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table5{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table6{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
            .table7{
                border-collapse: collapse;
                font-size: 0.8em;
                border-bottom: 1px solid #dddd;
            }
    
            #map{
                height: 100vh;
                width: 100%;
            }
    
            .info {     
                padding: 6px 8px;
                font: 14px/16px Arial, Helvetica, sans-serif;
                background: white;
                background: rgba(255,255,255,0.8);
                box-shadow: 0 0 15px rgba(0,0,0,0.2);
                border-radius: 5px;
            }
            .info h4 {
                margin: 0 0 5px;
                color: #777;
            }

            .legend {
                line-height: 18px;
                color: #555;
            }
            .legend i {
                width: 18px;
                height: 18px;
                float: left;
                margin-right: 8px;
                opacity: 0.7;
            }
        </style>  

        <title>Population Density</title>

    </head>
    

    <body> 
        <h1><center><i>Population Density map of <var id="display_name"></var></i></center></h1>
        <h3>
        <div id = form> 
            <form action="{{ url_for("gfg")}}" method="post">
                <label for="country">The selected country is :</label>
                <input type="text" id="country_name" name="country_name" placeholder="country">
                <button type="submit">Submit</button>
            </form>
        </div></h3>
        
        <div id="whole page">
            <div id="leftSide" style="float:left; width:28%;">
                <h3>Select the country by National flag</h3>           
                
                <table class="table1">
                    <tbody>
                        <tr>
                            <th>Austria</th>
                            <th>Belgium</th>
                            <th>Bulgaria</th>
                            <th>Croatia</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(1);"><img src="static/images/Austria.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(2);"><img src="static/images/Belgium.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(3);"><img src="static/images/Bulgaria.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(4);"><img src="static/images/Croatia.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table2">
                    <tbody> 
                        <tr>
                            <th>Cyprus</th>
                            <th>Czech Republic</th>
                            <th>Denmark</th>
                            <th>Estonia</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(5);"><img src="static/images/Cyprus.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(6);"><img src="static/images/Czech_Republic.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(7);"><img src="static/images/Denmark.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(8);"><img src="static/images/Estonia.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody> 
                </table>
                <table class="table3">
                    <tbody>
                        <tr>
                            <th>Finland</th>
                            <th>France</th>
                            <th>Germany</th>
                            <th>Greece</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(9);"><img src="static/images/Finland.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(10);"><img src="static/images/France.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(11);"><img src="static/images/Germany.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(12);"><img src="static/images/Greece.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table4">
                        <tr>
                            <th>Hungary</th>
                            <th>Ireland</th>
                            <th>Italy</th>
                            <th>Latvia</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(13);"><img src="static/images/Hungary.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(14);"><img src="static/images/Ireland.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(15);"><img src="static/images/Italy.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(16);"><img src="static/images/Latvia.jpg" width="90" height="60"></a></td>
                        </tr>
                </table>
                <table class="table5">
                    <tbody>   
                        <tr>
                            <th>Lithuania</th>
                            <th>Luxembourg</th>
                            <th>Malta</th>
                            <th>Netherlands</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(17);"><img src="static/images/Lithuania.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(18);"><img src="static/images/Luxembourg.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(19);"><img src="static/images/Malta.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(20);"><img src="static/images/Netherlands.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table6">
                    <tbody>   
                        <tr>
                            <th>Poland</th>
                            <th>Portugal</th>
                            <th>Romania</th>
                            <th>Slovakia</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(21);"><img src="static/images/Poland.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(22);"><img src="static/images/Portugal.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(23);"><img src="static/images/Romania.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(24);"><img src="static/images/Slovakia.jpg" width="90" height="60"></a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table7">
                    <tbody>    
                        <tr>
                            <th>Slovenia</th>
                            <th>Spain</th>
                            <th>Sweden</th>
                        </tr>
                        <tr>
                            <td><a href="javascript: changeText(25);"><img src="static/images/Slovenia.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(26);"><img src="static/images/Spain.jpg" width="90" height="60"></a></td>
                            <td><a href="javascript: changeText(27);"><img src="static/images/Sweden.jpg" width="90" height="60"></a></td>
                        </tr> 
                    </tbody>   
                </table> 
            </div>

            <div id="rightSide" style="float:right; width:72%;">

            <!-- Map element --> 
            <div id="map" style="width: 1050px; height: 550px;"></div>

        </div>
            
    </div>
</body>
</html>
            
            
<script type="text/javascript">
    /*===================================================
                ADD OSM AND SATELLITE TILE LAYERS              
    ===================================================*/

    //CREATE THE LEAFLETS MAP
    var map = L.map('map').setView([49.32, 14.88], 4);
    //OSM LAYER
    osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap contributors'
    }).addTo(map);

    // SATELLITE LAYER
    googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
    });
    googleSat.addTo(map);
    
    /*===================================================
                        ADD GEOJSON              
    ===================================================*/
    
    //GET COLOR ACCORDING TO THE POPULATION
    function getColor(d) {
        return d >800 ? '#67000d':
            d > 600 ? '#800026' :
            d > 300  ? '#BD0026' :
            d > 100  ? '#E31A1C' :
            d > 50  ? '#FC4E2A' :
            d > 25   ? '#FD8D3C' :
            d > 10   ? '#FEB24C' :
            d > 5   ? '#FED976' :
                        '#FFEDA0';
    }

    function style(feature) {
        return {
            fillColor: getColor(feature.properties.pop_density),
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7
        };
    }
    var highlight = {
                        'fillColor': 'yellow',
                        'weight': 2,
                        'opacity': 1
                    }; 
    
    //FUNCTION TO DISPLAY INFO ABOUT TO REGIONS
    function showinfo(e) {
        population_json.setStyle(style);
        e.target.setStyle(highlight)
        info.update(e.target.feature.properties);
    }

    //CALL FUCTIONS ON GEOJSON DATA
    function onEachFeature(feature, layer) {
        layer.on({
            click: showinfo
        });
    }

    //ADD POPULATION DATA TO MAP
    var population_json = {{population_json|safe}};
    var population_json = L.geoJSON(population_json, {onEachFeature: onEachFeature, style: style}).addTo(map);
    map.fitBounds(population_json.getBounds()); //zoom to the selected country
    
    /*===================================================
                        LAYER CONTROL              
    ===================================================*/
    var baseLayers = {
        "Satellite":googleSat,
        "OpenStreetMap": osm,
    };
    L.control.layers(baseLayers).addTo(map);
    
    /*===================================================
                        ADD INFO              
    ===================================================*/       
    var info = L.control();
    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
        this.update();
        return this._div;
    };

    // method that we will use to update the control based on feature properties passed
    info.update = function (props) {
        this._div.innerHTML = '<h4>Population Density</h4>' +  (props ?
            '<b>' + props.NAME + '</b><br />' + props.NAME_1 + '<br />' + Math.ceil(props.pop_density) + ' people / km<sup>2</sup>'
            : 'Click over a region');
    };

    info.addTo(map);

    /*===================================================
                        LEGEND             
    ===================================================*/
    var legend = L.control({position: 'bottomright'});
    legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [0, 5, 10, 25, 50, 100, 300, 600, 800],
        labels = [];

    // loop through our density intervals and generate a label with a colored square for each interval
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
    }

    return div;
    };

    legend.addTo(map);

    /*===================================================
                        GET COUNTRY NAME BY FLAG            
    ===================================================*/

    function changeText(value) {
        var text = "";

        if (value == 1) text += "Austria";
        if (value == 2) text += "Belgium";
        if (value == 3) text += "Bulgaria";
        if (value == 4) text += "Croatia";             
        if (value == 5) text += "Cyprus";
        if (value == 6) text += "Czech Republic";
        if (value == 7) text += "Denmark";
        if (value == 8) text += "Estonia";
        if (value == 9) text += "Finland";
        if (value == 10) text += "France";
        if (value == 11) text += "Germany";
        if (value == 12) text += "Greece";
        if (value == 13) text += "Hungary";
        if (value == 14) text += "Ireland";
        if (value == 15) text += "Italy";
        if (value == 16) text += "Latvia";
        if (value == 17) text += "Lithuania";
        if (value == 18) text += "Luxembourg";
        if (value == 19) text += "Malta";
        if (value == 20) text += "Netherlands";
        if (value == 21) text += "Poland";
        if (value == 22) text += "Portugal";
        if (value == 23) text += "Romania";
        if (value == 24) text += "Slovakia";
        if (value == 25) text += "Slovenia";
        if (value == 26) text += "Spain";
        if (value == 27) text += "Sweden";

        var country_name = document.getElementById("country_name").innerHTML=text;
        document.getElementById("country_name").value=text;
            }
            onload=function(){
                getQuerystring();
            };

        var display_name ='{{country_name|safe}}';
        var display_name= document.getElementById("display_name").innerHTML= display_name;
    
</script>
